{# src/AdminBundle/Resources/views/ajouter_patho.html.twig #}

{% extends "AdminBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block admin_block %}
	<h2> Ajouter des pathologies à la bse de données  </h2>
	{% include "AdminBundle:Admin:formulaire_1.html.twig" %}
{% endblock %}
