{# src/AdminBundle/Resources/views/Admin/formulaire_1.html.twig #}

<h3> Formulaire droits Utilisateur </h3>

<div class="well">
	<form mathod="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<input type="submit" class="btn btn-primary" />
	</form>
</div>
