{# src/AdminBundle/Resources/views/Admin/formulaire_1.html.twig #}

<div class="well">
	<form method="POST" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<input type="submit" class="btn btn-primary" />
	</form>
</div>
