{# src/AdminBundle/Resources/views/lister_patho.html.twig #}

{% extends "AdminBundle::layout.html.twig" %} 

{% block title %}
	Lister les pathologies
{% endblock %}


{% block admin_block %}
	<h4> Voici les pathologies présentes dans la base de données:  </h4>
	
	<ul>
		{% for patho in liste_patho %}
			<li>{{ patho.nomPathologie }}</li>
		{% endfor %}
	</ul>
	<p>
		<a href= "{{ path('admin_ajouter_patho') }}" class="btn">
				Ajouter une nouvelle pathologie
		</a>
		
		<a href= "{{ path('admin_supprimer_patho') }}" class="btn">
				Supprimer une pathologie
		</a>
	</p>
{% endblock %}
