{# src/AdminBundle/Resources/views/patho_inconnu.html.twig #}

{% extends "AdminBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block admin_block %}
	<p> Désolé la pathologie que vous essayez de supprimer n'est pas présente dans la base de données.<p>
	
	<p> <a href= "{{ path('admin_lister_patho') }}" class="btn">
				Afficher la liste des pathologies
		</a>
		
		<a href= "{{ path('admin_ajouter_patho') }}" class="btn">
				Ajouter une nouvelle pathologie
		</a>
		
		<a href= "{{ path('admin_supprimer_patho') }}" class="btn">
				Supprimer une autre pathologie
		</a>
	</p>
{% endblock %}
