{# src/AdminBundle/Resources/views/suppr_patho.html.twig #}

{% extends "AdminBundle::layout.html.twig" %} 

{% block title %}
	Supprimer une pathologie
{% endblock %}


{% block admin_block %}
	<h2> Supprimer une pathologie de la base de données </h2>
	
	<div class="well">
		{{form(form)}}
	</div>
{% endblock %}


