{# src/AdminBundle/Resources/views/supprimer_patho.html.twig #}

{% extends "AdminBundle::layout.html.twig" %} 

{% block title %}
	Supprimer une pathologie
{% endblock %}


{% block admin_block %}
	<h2> Supprimer des pathologies de la base de données  </h2>
	{% include "AdminBundle:Admin:formulaire_1.html.twig" %} 
{% endblock %}
