{# src/UserBundle/Resources/views/accueil.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Bienvenue sur notre site !
{% endblock %}

{% block fos_user_content %}
	<h2> Découvrez les bienfaits de la généalogie </h2>
	<h4> Sur votre santé </h4>

{% endblock %}
