{# src/UserBundle/Resources/views/accueil.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Disease Memory !
{% endblock %}

{% block fos_user_content %}
	<h2> Rassemblez vos antécédents médicaux ! </h2>
	
	
	<br/>
	<br/>
	<p> Ce site a pour but de vous permettre de vous rappeler plus facilement des pathologies ayant touchées votre famille. 
		Grâce à ce site contenant les antécédents médicaux de votre famille, vous serez mieux informés des risques que vous courez. 
		Vous pourrez facilement transmettre ces informations à vos enfants. 
		</br>
		</br>
		Ce travail ne sera pas en vain ! 
		Vous pourrez ainsi, facilement, anticiper les examens à prevoir. 
		</br>
		</br>
		Bonne visite ! 
		<br/>
	</p>
		
	<p>
		<a href="http://projet-genealogie/app_dev.php/register/" class="btn">
			<i class="icon-chevron-right"></i>
				Inscription
			<i class="icon-chevron-left"></i>
		</a>
		
		<a href="http://projet-genealogie/app_dev.php/login" class="btn">
			<i class="icon-chevron-right"></i>
				Connection
			<i class="icon-chevron-left"></i>
		</a>

{% endblock %}
