{# src/UserBundle/Resources/views/accueil.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}

{% block fos_user_content %}
	<h2> Découvrez les bienfaits de la généalogie sur votre santé </h2>
	
	
	<br/>
	<br/>
	<p> Ce site à pour but de simplifier la transmission des risques lié aux antécédents médicaux dans notre famille.
		Pour cela, nous vous invitons à créer votre propre arbre généalogique mais en y integrant les pathologies qui ont touchées votre famille! 
		</br>
		Ce travail ne sera pas en vain ! 
		Vous pourrez ainsi, facilement, anticiper les examens à prevoir. 
		</br>
		Bonne construction ! 
	</p>
		
	<p>
		<a href="http://projet-genealogie/app_dev.php/register" class="btn">
			<i class="icon-chevron-right"></i>
				Inscription
			<i class="icon-chevron-left"></i>
		</a>
		
		<a href="http://projet-genealogie/app_dev.php/login" class="btn">
			<i class="icon-chevron-right"></i>
				Connection
			<i class="icon-chevron-left"></i>
		</a>

{% endblock %}
