{# src/UserBundle/Resources/views/ajout_patho_proche.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Ajouter une pathologie à {{individu.getNomComplet}}
{% endblock %}

{% block fos_user_content %}
	<h2> Ajouter une pathologie à {{ individu.getNomComplet }} </h2>
	<p> Veuillez enregistrer une nouvelle pathologie de {{ individu.getNomComplet }} <p/>
	<div class="well"> {{form(form)}} </div>
{% endblock %}