{# src/UserBundle/Resources/views/ajouter_patho_proche.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Ajouter une pathologie à </h2>
	<div class="well">
		{{form(form)}}
	</div>
{% endblock %}
