{# src/UserBundle/Resources/views/modifier.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Choisir la pathologie à modifier</h2>
{% endblock %}
