{# src/UserBundle/Resources/views/index.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree
{% endblock %}

{% block fos_user_content %}
	<h2> Bonjour {{ app.user.username }} </h2>
{% endblock %}
