{# src/UserBundle/Resources/views/modifier.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Liste de mes proches </h2>
	
	<ul>
		{% for individu in liste_indiv %}
			<li>
				{{ individu.nom }} {{ individu.prenom }}
				<br/>
				{{ individu.dateNaissance|date("d/m/Y") }} - {{ individu.datedeces|date("d/m/Y") }}
				{% for individu in liste_indiv %}
				{% endfor %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
