{# src/UserBundle/Resources/views/lister_relation.html.twig  {{ indi.prenom}} {{indi.dateNaissance}} {{indi.dateDeces}} #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Vos relations enregistrées sont les suivantes: </h2>
	<ul>
	{% for indi in liste_individu %}
		<li>{{ indi.nom }} </li>
	{% endfor %}
	</ul>
	
{% endblock %}
