{# src/UserBundle/Resources/views/liste_proches_vide.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Liste de mes proches
{% endblock %}

{% block fos_user_content %}
	<h2> Liste de mes proches </h2>
	<br/>
	<p> Vous n'avez pas encore ajouté de proches. <p>
	<p> <a href= "{{ path('user_ajout_proche') }}" class="btn"> Ajouter un proche </a> </p>
{% endblock %}