{# src/UserBundle/Resources/views/liste_patho_proche_vide.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Liste des pathologies de {{ }} </h2>
	
	<p> Vous n'avez pas encore ajouté de pathologie(s) à {{}} <p>
	<p> <a href= "{{ path('user_ajout_proche') }}" class="btn"> Ajouter une pathologie </a></p>
{% endblock %}
