{# src/UserBundle/Resources/views/modif_proche.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}

{% block fos_user_content %}
	<h2> Modifier ce proche </h2>
	<p> En phase de test <p>
{% endblock %}
