{# src/UserBundle/Resources/views/modif_proche.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Modifier un proche
{% endblock %}

{% block fos_user_content %}
	<h2> Modifier un proche </h2>
	<br/>
	<p> Modifiez les informations concernant votre proche : </p>
	<div class="well"> {{form(form)}} </div>
{% endblock %}