{# src/UserBundle/Resources/views/nous_contacter.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	Nous contacter
{% endblock %}


{% block fos_user_content %}
	<h2> Pour nous contacter :</h2>
	<br/>
	<p> Envoyer nous un mail à l'adresse : projet-genealogie@gmail.com <p>
{% endblock %}
