{# src/UserBundle/Resources/views/supprimer.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}


{% block fos_user_content %}
	<h2> Supprimer </h2>
{% endblock %}
