{# src/UserBundle/Resources/views/modifier_infos_individu.html.twig #}

{% extends "UserBundle::layout.html.twig" %} 

{% block title %}
	YourHealthyTree!
{% endblock %}

{% block fos_user_content %}
	<h2> Modifier les informations du proche </h2>
{% endblock %}
